// ? Reset

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
	font-size: 62.5%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Poppins", sans-serif;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
	height: inherit;
}

//? Header

header {
	display: flex;
	align-items: center;
	height: 10%;
	font-size: 1.6rem;
	// background-color: yellow;
}

.logo {
	flex: 1;
}

.logo__link {
	display: flex;
	font-weight: 500;
	justify-content: center;
	text-decoration: none;
}

.navbar {
	flex: 3;
}

.navbar__links {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.navbar__link {
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.navbar__link:hover {
	color: lightpink;
	font-size: 1.7rem;
}

.cart {
	flex: 1;
	display: flex;
	justify-content: center;
}

.cart__img {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.cart__img:hover {
	filter: invert(100%);
	transform: scale(1.2);
}

// ? Main

.card {
	display: flex;
	margin: 0 auto;
	padding-top: 60px;
	width: 90%;
}

.card__body {
	flex: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
}

.card__description {
	h1 {
		font-weight: 500;
		font-size: 3rem;
		background: linear-gradient(to right, #494964, #6f6f89);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	p {
		font-size: 1.8rem;
		color: #585772;
	}
}

.card__btn {
	width: 150px;
	height: 50px;
	font-size: 1.6rem;
	color: palevioletred;
	border: palevioletred 2px solid;
	border-radius: 8px;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s ease-in;
}

.card__btn:hover {
	color: white;
	background-color: palevioletred;
}

.card__btn-pink {
	margin-left: 20px;
	color: white;
	background-color: palevioletred;
}

.card__btn-pink:hover {
	color: #d87093;
	background-color: white;
}

.card__laptop {
	flex: 2;
}

.card__laptop-img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	filter: drop-shadow(0px 10px 3px black);
	animation: drop 1.5s ease;
}

@keyframes drop {
	0% {
		transform: translateY(-70px);
		opacity: 0;
	}
	100% {
		transform: scaleY(0px);
		opacity: 1;
	}
}

// ? controls-slide

.controls {
	display: flex;
	height: 20px;
	gap: 25px;
	position: absolute;
	bottom: 5vh;
	right: 17vw;
	font-size: 2.2rem;
}

.controls__arrow {
	cursor: pointer;
}

.controls__arrow:hover {
	color: #d87093;
}

.controls__btn {
	border: 2px black solid;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: black;
	cursor: pointer;
}

.controls__btn-active {
	background-color: wheat;
}

.controls__btn:hover {
	background-color: wheat;
}

// ? background-eclipses

.big__eclipse {
	position: absolute;
	top: 0;
	right: 0;
	height: 80vh;
	z-index: -1;
	opacity: 0.3;
}

.mid__eclipse {
	position: absolute;
	bottom: 10vh;
	right: 30vw;
	height: 60vh;
	z-index: -1;
	opacity: 0.4;
}

.small__eclipse {
	position: absolute;
	bottom: 0;
	right: 60vw;
	height: 30vh;
	z-index: -1;
}

//? Button Hamburger

.hamburger {
	display: none;
}
