@media (max-width: 440px) {
	//?Hamburger Button

	.hamburger {
		display: block;
	}

	//? Header
	.logo {
		z-index: 8;
	}
	.logo__link {
		justify-content: flex-start;
		padding-left: 5vw;
	}

	.cart {
		position: fixed;
		top: 2vh;
		right: 20vw;
		z-index: 10;
	}

	.cart__img {
		width: 40px;
	}

	.hamburger {
		position: fixed;
		top: 3vh;
		right: 2vh;
		padding: 5px;
		z-index: 10;
	}

	.navbar {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		display: flex;
		justify-content: flex-end;
		z-index: 5;
		background-color: #ffffff50;
		transform: translate(100vw);
		transition: all 0.1s ease-in-out;
	}

	.navbar__links {
		padding-top: 10vh;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;
		width: 75vw;
		background-color: #ffffff98;
		transition: transform 0.6s ease-in-out;
		transform: translateX(100vw);

		li {
			display: flex;
			align-items: center;
			flex: 1;
		}
	}

	.navbar__link {
		opacity: 0;
		flex: 1;
		font-size: 3.3rem;
	}

	.navbar__link:hover {
		font-size: 3.4rem;
	}

	//? Active the Aside Panel Nav

	.navbar-is-active {
		transform: translateX(0px);
	}

	.navbar__link-is-active {
		transition: 1.5s all ease-in-out;
		opacity: 1;
	}

	// ?main
	main {
		padding-bottom: 10vh;
	}

	//?controls
	.controls {
		bottom: -25vh;
	}
}

@media (max-width: 370px) {
	//? Aside Nav bar
	.navbar__link {
		font-size: 3rem;
	}

	.navbar__link:hover {
		font-size: 3.1rem;
	}

	// ?buttons

	.card__btn {
		width: 200px;
	}

	.card__btns {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.card__btn-pink {
		margin: 0;
		margin-top: 15px;
	}

	// ?controls
	.controls {
		bottom: -35vh;
	}

	// ?Background
	.small__eclipse {
		bottom: -47vh;
	}

	.mid__eclipse {
		right: 30vw;
		bottom: 0;
	}
}
