@media (max-width: 900px) {
	.controls {
		right: 12vw;
		bottom: 8vh;
	}
	//? background

	.small__eclipse {
		right: 70vw;
		height: 20vh;
	}

	.mid__eclipse {
		bottom: 20vh;
		right: 40vw;
		height: 40vh;
	}

	.big__eclipse {
		height: 60vh;
	}
}

@media (max-width: 660px) {
	html,
	body {
		height: auto;
	}
	// ?Header
	header {
		padding-top: 5vh;
	}

	.logo {
		flex: 2;
	}

	.navbar__links {
		padding: 0;
	}

	// ?Main
	.card {
		flex-direction: column;
		text-align: center;
		padding-bottom: 70px;
	}

	// ?controls

	.controls {
		bottom: -50%;
		right: calc(50% - 95px);
	}

	// ?Background

	.mid__eclipse {
		bottom: -10vh;
	}

	.small__eclipse {
		bottom: -40vh;
	}
}

@media (max-width: 540px) {
	.controls {
		bottom: -35%;
	}
}
